# Snowflake Connection
SNOWFLAKE_ACCOUNT_LOCATOR=MNB70701
SNOWFLAKE_ACCOUNT=SFSENORTHAMERICA-POLARIS1
SNOWFLAKE_USER=MGANDHIRAJAN
PRIVATE_KEY_PATH=rsa_key.p8

# Cortex Agent Details
AGENT_DATABASE=SNOWFLAKE_INTELLIGENCE
AGENT_SCHEMA=AGENTS
AGENT_NAME=ChatWithPatientData

# Optional
AGENT_DESCRIPTION=Snowflake Intelligence agent for patient data - correlates patient claims, medical transcripts with PubMed research articles.
AGENT_URL=http://localhost:8000
PORT=8000
